<div class="mt-5 mb-2">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Categoria</h2>
   <div class="d-flex gap-2">
    <!-- Botón Registrar -->
    <p-button 
      (click)="abrirRegistro()" 
      label="Registrar" 
      icon="pi pi-plus" 
      styleClass="p-button-success">
    </p-button>

    <!-- Botón Actualizar -->
    <p-button 
      (click)="actualizarListado()" 
      label="Actualizar" 
      icon="pi pi-refresh" 
      styleClass="p-button-info">
    </p-button>
  </div>
  </div>
<div class="card">
     <p-table #dt1 [value]="categorias" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" [globalFilterFields]="['id', 'nombre', 'estado']">
        <ng-template #caption>
            <div class="flex">
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText #globalFilterInput type="text" (input)="dt1.filterGlobal(globalFilterInput.value, 'contains')" placeholder="Buscador.." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        ID
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        NOMBRE
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        ESTADO
                       
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex items-center">
                        ACCIONES
                    </div>
                </th>
                
            </tr>
        </ng-template>
        <ng-template #body let-categoria>
            <tr>
                <td>
                    {{ categoria.id }}
                </td>
                <td>
                    {{ categoria.nombre }}
                </td>
                <td>
                    <span class="badge bg-{{ categoria.idestado === 1 ? 'success' : 'secondary' }}">
                      {{ categoria.Estado?.nombre}}
                    </span>
                </td>
                <td>
                  <button pButton 
                          type="button" 
                          icon="pi pi-pencil" 
                          class="p-button-sm p-button-warning p-mr-2" 
                          style="display: inline-flex; align-items: center;" 
                          (click)="editarCategoria(categoria)">
                    <span class="p-ml-1">Editar</span>
                  </button>

                  <!-- Botón Eliminar -->
                  <button pButton 
                          type="button" 
                          icon="pi pi-trash" 
                          class="p-button-sm p-button-danger" 
                          style="display: inline-flex; align-items: center;" 
                          (click)="eliminarCategoria(categoria)">
                    <span class="p-ml-1">Eliminar</span>
                  </button>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="7" class="text-center text-500 py-4">No se encontraron registros de categorias.</td>
            </tr>
        </ng-template>
    </p-table>
</div>


</div>
<!-- Dialog para registrar / editar -->
<p-dialog 
  header="{{editar ? 'Editar Categoria' : 'Registrar Categoria'}}"
  [(visible)]="mostrarDialogo" 
  [modal]="true" 
  [position]="'top'"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{width: '30vw'}">

  <div class="p-fluid">
    <form [formGroup]="categoriaForm">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre de la Categoria</label>
          <input type="text" id="nombre" class="form-control" formControlName="nombre" required>
        </div>
      </form>


    <div class="d-flex justify-content-end gap-2">
      <p-button 
        label="Cancelar" 
        icon="pi pi-times" 
        styleClass="p-button-text" 
        (click)="cerrarDialogo()">
      </p-button>

      <p-button 
        [label]="editar ? 'Guardar Cambios' : 'Guardar'" 
        [icon]="editar ? 'pi pi-save' : 'pi pi-check'" 
        (click)="editar ? guardarEdicion() : guardarCategoria()">
      </p-button>
    </div>
  </div>
</p-dialog>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
