/* .login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1976d2, #42a5f5);
}

.login-card {
  width: 380px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  background: #fff;
  text-align: center;
}

.title {
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #1976d2;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.login-btn {
  width: 100%;
  margin-top: 1.2rem;
  font-weight: bold;
} */

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1976d2, #42a5f5);
  padding: 1rem; /* evita desbordes en pantallas chicas */
  box-sizing: border-box;
}

.login-card {
  width: 380px;
  max-width: 100%; /* asegura que en móviles no se desborde */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  background: #fff;
  text-align: center;
}

.title {
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #1976d2;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.p-inputtext,
.p-password {
  width: 100% !important; /* inputs ajustados al card */
}

.login-btn {
  width: 100%;
  margin-top: 1.2rem;
  font-weight: bold;
}
.p-inputtext, .p-password {
  width: 100% !important;
}