<div class="login-container"> 
  <mat-card class="login-card">
    <h2 class="title">Acceso Administrativo</h2>
    <form [formGroup]="form" (ngSubmit)="onLogin()"> 
      
      <!-- Usuario -->
      <mat-form-field appearance="outline" class="full-width"> 
        <mat-label>Usuario</mat-label> 
        <input matInput type="text" formControlName="email" /> 
        <mat-icon matSuffix>person</mat-icon> 
        <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
          Ingresa un usuario
        </mat-error> 
      </mat-form-field> 
      
      <!-- Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label> 
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" /> 
        <button mat-icon-button matSuffix type="button" (click)="hide.set(!hide())">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon> 
        </button> 
        <mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
          La contraseña debe tener al menos 6 caracteres
        </mat-error> 
      </mat-form-field> 
      
      <!-- Botón -->
      <button mat-raised-button color="primary" class="login-btn" [disabled]="form.invalid"> 
        Ingresar 
      </button>
      
    </form>
  </mat-card> 
</div>
